*{
    box-sizing:border-box;
}

body{
    margin : 0;

}

#record,#capture{
    height: 5rem;
    width:5rem;
    border-radius: 50%;
    border: none;
    position: fixed;
}

#record{
    top: 30vh;
    right: 20px;

}

#capture{
    top: 40vh;
    right: 20px;

}
#